<!DOCTYPE html>
<html>
<head>
    <title>Logstasher Staging</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-multi-select/angular-multi-select.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ngActivityIndicator/css/ngActivityIndicator.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-busy/dist/angular-busy.css">
    <link href="src/css/style.css" rel="stylesheet" type="text/css">
    <link href="src/css/404.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="LogstasherApp">
<div ng-controller="LogController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <form class="navbar-form">

            <div class="row">

                <div class="col-md-1 logstasher">
                    <a href="/">
                        Logstasher Staging
                    </a>
                </div>

                <div class="col-md-4">
                    <multi-select
                            input-model="source_apps"
                            button-label="icon name"
                            item-label="icon name"
                            tick-property="ticked"
                            max-labels="5"
                            on-close="resetAndPaginate()"
                            >
                    </multi-select>
                </div>

                <div class="col-md-3">
                    <div class="input-group search-text">
                        <input type="text" class="form-control transparent " ng-model="search_filter"
                               placeholder="search by any keyword or id:<x_request_id>" ng-enter="resetAndPaginate()">

                    </div>
                </div>

                <div class="col-md-4 clocker">
                  <div class="btn-group" uib-dropdown >

                    <button id="single-button" type="button" class="btn btn-default soflow" uib-dropdown-toggle ng-disabled="disabled">
                      <i class="fa fa-clock-o clock-icon"></i>
                      <span class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                      <li role="menuitem"><a href="#" ng-click="showSimpleDateWidget()">
                        <i class="fa fa-fw" ng-class="{'fa-check': !advancedDuration}"></i> Simple
                      </a></li>
                      <li role="menuitem"><a href="#" ng-click="showAdvancedDateWidget()">
                          <i class="fa fa-fw"  ng-class="{'fa-check': advancedDuration}"></i>Advanced
                      </a></li>
                    </ul>
                  </div>


                    <span class="input-group" ng-show="advancedDuration">
                        <input type="text" class="form-control soflow datetimepicker-text" datetime-picker="yyyy-MM-ddTHH:mm:ss.sss"
                        ng-model="after" is-open="isOpen"  />
                        <span class="input-group-btn ">
                            <button type="button" class="btn btn-default " ng-click="openCalendar($event, prop)">
                              <i class="fa fa-calendar"></i></button>
                        </span>
                    </span>

                    <select ng-model="duration_in_mins"
                            ng-options="opt as opt.label for opt in duration_options"
                            class="soflow"
                            ng-change="resetAndPaginate()" ng-hide="advancedDuration">
                    </select>

                    <a ng-click="resetAndPaginate()" class="btn btn-success refresh-btn">
                        <i class="glyphicon glyphicon-refresh " ng-class="{'glyphicon-refresh-animate': httpBusy}"></i>
                    </a>
                </div>

                <!--<div class="col-md-2 clocker">-->
                    <!-- -->

                    <!-- -->


                <!--</div>-->

            </div>

        </form>

    </nav>


    <div class="log-container" id="log-container">

        <div cg-busy="fetchLogsPromise"></div>

        <table st-table="results" st-safe-src="results" st-pagination-scroll st-pipe="paginate" ng-show="results.length" ng-cloak
               class="table">
            <thead>
            <tr>
                <th st-ratio="10" st-sort="timestamp" st-sort-default="true">Timestamp</th>
                <th st-ratio="10" st-sort="source">App</th>
                <th st-ratio="5" st-sort="request_id">RequestId</th>
                <th st-ratio="5" st-sort="level">Level</th>
                <th st-ratio="70">Content</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in results" ng-class="{'error_row': result.level == 'ERROR'}">
                <td st-ratio="10" class="nowrap">{{result.timestamp}}</td>
                <td st-ratio="10">{{result.source}}</td>
                <td st-ratio="5">
                    <div ng-click="showRequest(result.request_id)" ng-class="{request_id_link: result.request_id != '-'}">
                        {{formatRequestId(result.request_id)}}
                    </div>
                </td>
                <td st-ratio="5">{{result.level}}</td>
                <td st-ratio="75" class="nowrap" ng-click="wrap($event)">
                    {{result.message}}
                </td>
            </tr>
            </tbody>
        </table>

        <div ng-show="flag_404 == true" ng-cloak class="overlay_404">
            <div class="wrapper">
                <h1>oops!</h1>

                <h3>No Logs found...</h3>

                <p> Please review if duration and app filters look correct!</o>
                    </ul>

                <div class="controls">
                    <a href="#" class="btn" ng-click="resetAndPaginate()">Refresh Again</a>
                </div>
            </div>
        </div>


    </div>

    <div ng-activity-indicator="DottedDark" class="center"></div>

    <div id="footer">
        <div class="status-left">
            Timezone: {{timezone}}
        </div>
        <div class="stats-count" ng-if="fetch_count" ng-show="results.length">
            <span ng-show="noMoreData">
                End-of-Log |
            </span>
            Fetched: {{fetch_count}}
        </div>
    </div>

</div>

<!-- include bower components in proper order -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/elasticsearch/elasticsearch.angular.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
<script src="bower_components/angular-multi-select/angular-multi-select.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/ngActivityIndicator/ngActivityIndicator.min.js"></script>
<script src="bower_components/angular-busy/dist/angular-busy.js"></script>
<script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>

<script src="src/js/main.js"></script>
<script src="src/js/clock.js"></script>
<script src="src/js/infinitescroll.js"></script>
<script src="src/js/filter_builder.js"></script>
<script src="src/js/search.js"></script>

</body>
</html>
