<!DOCTYPE html>
<html>
<head>
    <title>Elasticsearch + Angular Example</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<!-- boot angular with the ExampleApp module -->
<body ng-app="ExampleApp">
<!-- attach the ExampleController to our main content -->
<div ng-controller="ExampleController" class="container">
    <h1>Angular + Elasticsearch</h1>

    <!-- if there is an error, display its message -->
    <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>


    <ul class="example-animate-container">
        <li class="animate-repeat" ng-repeat="result in results">
            {{result['@timestamp']}} {{result.message}}
        </li>
    </ul>

    <!-- include bower components in proper order -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infininte-scroll.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="src/search.js"></script>

    <!-- app code starts is here -->
    <script>


    </script>
</body>
</html>